<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">Quantidade de produtos</h5>
                        <p class="card-text text-white font-weight-bold display-6">{{ product_metrics.total_quantity }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h5 class="card-title">Custo do estoque</h5>
                        <p class="card-text text-white font-weight-bold display-6">R$ {{ product_metrics.total_cost_price }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success">
                    <div class="card-body">
                        <h5 class="card-title">Valor do estoque</h5>
                        <p class="card-text text-white font-weight-bold display-6">R$ {{ product_metrics.total_selling_price }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">Lucro do estoque</h5>
                        <p class="card-text text-white font-weight-bold display-6">R$ {{ product_metrics.total_profit }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
