{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4">Deletar Produto</h3>

    <div class="card">
      <div class="card-body">
        <p class="card-text">Tem certeza de que deseja excluir o produto <strong>{{ object.title }}</strong>?</p>

        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
        
        <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Produtos</a>
      </div>
    </div>
  </div>
{% endblock %}
