<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
  {% include 'components/_header.html' %}

  <div class="container-fluid">
    {% if user.is_authenticated %}
      {% include 'components/_sidebar.html' %}
    {% endif %}

      <div class="col py-3">

        <div class="container mt-4">
          <main>
            {% block content %}
            {% endblock %}
          </main>
        </div>

      </div>
    </div>
  </div>
  {% include 'components/_footer.html' %}
</body>

</html>