{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4">Editar Fornecedor</h3>

    <div class="card">
      <div class="card-body">
        <form method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Salvar Fornecedor</button>
        </form>
      </div>
    </div>

    <a href="{% url 'supplier_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Fornecedores</a>
  </div>
{% endblock %}
