{% extends 'base.html' %}

{% block title %}
SGE - Clientes
{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-6">
    <form method="get" action="{% url 'costumer_list' %}">
      <div class="input-group">
        <input type="text" class="form-control" name="name" placeholder="Nome" value="{{ request.GET.name }}">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>
  {% if perms.costumers.add_costumer %}
  <div class="col-md-6">
    <a href="{% url 'costumer_create' %}" class="btn btn-success float-end">
      <i class="bi bi-plus"></i> Novo Cliente
    <a href='{% url "costumers_export" %}' class='btn btn-secondary'>Exportar CSV</a>  
    </a>
  </div>
  {% endif %}
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>        
        <th>Site/MediaSocial</th>        
        <th>CPF/CNPJ</th>
        <th>Endereço</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>CEP</th>
      </tr>
    </thead>
    <tbody>
      {% for costumer in costumers %}
      <tr>
        <td>
          <a href="{% url 'costumer_detail' costumer.id %}" class="text-primary fw-semibold">
            {{ costumer.id }}
          </a>
        </td>
        <td>{{ costumer.name }}</td>
        <td>{{ costumer.mail }}</td>
        <td>{{ costumer.phone }}</td>
        <td>{{ costumer.document_id }}</td>
        <td>{{ costumer.address }}</td>
        <td>{{ costumer.city }}</td>
        <td>{{ costumer.state }}</td>
        <td>{{ costumer.zip_code }}</td>
        <td>
          <a href="{% url 'costumer_detail' costumer.id %}" class="btn btn-info btn-sm">
            <i class="bi bi-eye"></i>
          </a>

          {% if perms.costumers.change_costumer %}
          <a href="{% url 'costumer_update' costumer.id %}" class="btn btn-warning btn-sm">
            <i class="bi bi-pencil"></i>
          </a>
          {% endif %}

          {% if perms.costumers.delete_costumer %}
          <a href="{% url 'costumer_delete' costumer.id %}" class="btn btn-danger btn-sm btn-delete">
            <i class="bi bi-trash"></i>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'components/_pagination.html' %}

{% endblock %}