<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'home' %}">Sistema de Gestão de Estoque (SGE)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'supplier_list' %}">Fornecedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'brand_list' %}">Marcas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'category_list' %}">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'product_list' %}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'inflow_list' %}">Entradas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'outflow_list' %}">Saídas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
